body{
	margin:8px;
}
audio{
	width: 502px;
	pointer-events:none;
}
#myCanvas{
	width: 500px;
	height: 250px;
	border: 1px black solid;
}
#page{
	display:table;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
